@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-cabinet;
}

html {
  /* @apply bg-secondary; */
}

/* react slick slider */
.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100% !important;
}
